<a href="https://colab.research.google.com/github/selhabti/Test-Data-Engineer/blob/main/PySpark_SQL_Part_2_Bonus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark
!pip install pyspark-stubs

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()
from pyspark import SparkContext
from pyspark.sql import SparkSession, Row
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, TimestampType, LongType, ShortType
from pyspark.sql import SQLContext
import pyspark.sql.functions as f
import pandas as pd


spark = SparkSession \
    .builder \
    .appName("PySpark_SQL_Part_2") \
    .getOrCreate()

In [ ]:
link = '/content/drive/MyDrive/Data_Engineer_WCS/Partially Cleaned Salary Dataset.csv'

In [ ]:
df = spark.read.csv(link,header=True)
df.printSchema()
df.show()

#Sort locations by average salary for the jobs given in the dataset (rounded, sorted by salary)

In [ ]:
from pyspark.sql.functions import floor, col
#df_states.select("*", floor(col('hindex_score'))).show()
#.orderBy('average salary', ascending=True)\
#                                   .withColumnRenamed("round(avg(Salary), 2)","average salary")\

In [ ]:
df.groupBy("Job Title", "Location").agg(f.mean("Salary"))\
.select("Job Title", "Location", floor(col('avg(Salary)')))\
.withColumnRenamed("FLOOR(avg(Salary))","average salary")\
.orderBy('average salary', ascending=True)\
                                   .show(20, False)

#Calculate the average salary for every job title (rounded, sorted by salary)

In [ ]:
df.groupBy("Job Title").agg(f.mean("Salary"))\
.select("Job Title",floor(col('avg(Salary)')))\
.withColumnRenamed("FLOOR(avg(Salary))","average salary")\
.orderBy('average salary', ascending=True)\
                                   .show(20, False)

#Calculate the average salary for every location

In [ ]:
df.groupBy("Location").agg(f.mean("Salary"))\
.select("Location", floor(col('avg(Salary)')))\
.withColumnRenamed("FLOOR(avg(Salary))","average salary")\
.orderBy('average salary', ascending=True)\
                                   .show(20, False)